# 构建输出目录中的中间文件
out/*.aux
out/*.lof
out/*.log
out/*.lot
out/*.fls
out/*.out
out/*.toc
out/*.fmt
out/*.fot
out/*.cb
out/*.cb2
out/.*.lb
out/*.bbl
out/*.bcf
out/*.blg
out/*.run.xml
out/*.nav
out/*.snm
out/*.vrb
out/*.xdv
out/*.synctex.gz
out/*.fdb_latexmk

# 编辑器临时文件
*.swp
*.bak
*.sav
*~
.texpadtmp
./auto/*
